@page
@model Torneo.App.Frontend.Pages.Posiciones.IndexModel
@{
}
<h2>
  LISTADO 
  <small class="text-muted">POSICIONES</small>
</h2>
<table class="table table-borderlees table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var posicion in Model.posiciones)
        {
            <tr>
                <th scope="row">@posicion.Id</th>
                <td>@posicion.Nombre</td>
            </tr>
        }
        
    </tbody>
</table>
