@page
@model Torneo.App.Frontend.Pages.DTs.IndexModel
@{
}
<h2>
  LISTADO 
  <small class="text-muted">DIRECTORES TECNICOS</small>
</h2>
<table class="table table-borderlees table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">DOCUMENTO</th>
            <th scope="col">TELEFONO</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dt in Model.dts)
        {
            <tr>
                <th scope="row">@dt.Id</th>
                <td>@dt.Nombre</td>
                <td>@dt.Documento</td>
                <td>@dt.Telefono</td>
            </tr>
        }
        
    </tbody>
</table>
