@page
@model Torneo.App.Frontend.Pages.Equipos.IndexModel
@{
}

<h2>
  LISTADO 
  <small class="text-muted">EQUIPOS</small>
</h2>
<table class="table table-borderlees table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">MUNICIPIO</th>
            <th scope="col">DIRECTOR TECNICO</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var equipo in Model.equipos)
        {
            <tr>
                <th scope="row">@equipo.Id</th>
                <td>@equipo.Nombre</td>
                <td>@equipo.Municipio.Nombre</td>
                <td>@equipo.DirectorTecnico.Nombre</td>
            </tr>
        }
        
    </tbody>
</table>
